
<div class="projects-section">
  <div class="animation-h1">
    <h1 class="ternow-h1">Projects</h1>
    <div class="background-size">
    </div>
    <div class="background-size-4">
    </div>
    <div class="background-size-2">
    </div>
    <div class="background-size-3">
    </div>
  </div>

</div>
</div>

<div class="projects-wrapper" style="height: <%= adaptive_height %>">


  <% @projects.each do |project| %>
  <div class="project-wrapper col-md-3 col-sm-6 col-xs-12">
    <div class="picture-overlay"></div>
    <div class="project-picture"><%= image_tag(project.project_picture.url) if project.project_picture? %></div>
    <div class="project-content">
      <h4><%= project.title %></h4>
      <p><%= project.description %></p>
      <div class="demo-button">
        <a href=<%= project.demo %>>Demo: <i class="fas fa-laptop"></i></a>

      </div>
      <div class="social">
        <a href=<%= project.github %>><i class="fab fa-github"></i></a>
      </div>
      <% if user_signed_in? && project.user_id == current_user.id %>
      <li><%= link_to 'Edit', edit_project_path(project) %></li>
      <li><%= link_to "Delete", project, method: :delete %></li>
      <% end %>
    </div>


  </div>




  <% end %>
  <div class="coming-soon col-md-3 col-sm-6 col-xs-12">
    <p><i class="fas fa-fire"></i>Coming soon...</p>

  </div>



</div>
