<%= simple_form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :title, input_html: { class: 'form-control' } %>
  </div>
  
  <div class="field">
    <%= form.input :anouncement, input_html: { class: 'form-control' } %>
  </div>
 
  <div class="field">
    <%= form.input :top_picture, input_html: { class: 'form-control' }  %>
  </div>


  <div class="field">
      <%= form.cktext_area :body, input_html: { class: 'form-control' } %> 
  </div>

  <div class="actions">
    <%= form.button :submit, class: 'btn btn-info' %>
  </div>
<% end %>
