<div class="posts col-md-6">
  <div class="row">  <% @posts.each do |post| %>
  <div class="post-wrapper">
    <div class="animation-h1">
      <h1 class="ternow-h1"><%= link_to post.title, post %></h1>
      <div class="background-size">
      </div>
      <div class="background-size-4">
      </div>
      <div class="background-size-2">
      </div>
      <div class="background-size-3">
      </div>
    </div>
    <p class="post-text"><%= sanitize markdown(truncate(post.body, length:150)) %></p>
    <p class="date-font-size">Posted <span class="date"><%= time_ago_in_words(post.created_at) %></span> ago</p>
    <% if post.updated_at != post.created_at %>
    <p class="date-font-size">Edited <span class="date"><%= time_ago_in_words(post.updated_at)  %></span> ago</p>
    <% end %>
    <% if user_signed_in? && current_user.id == post.user_id %>

    <li><%= link_to 'Edit', edit_post_path(post) %></li>
    <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  </div>
  <% end %>

</div>
<%= will_paginate @posts, :page_links => false %>
 
</div>


  


<%= render 'aside' %>



