<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<p class="body"><%=  %></p>
    
  <div>
    <% @posts.each do |post| %>
      <ul>
        <li><%= post.title %></li>
        <li><%= truncate(post.body, length:30) %></li>
        <li class="date"><%= time_ago_in_words(post.created_at) %></li>
        <li><%= post.user.email %></li>
        <li><%= image_tag(post.top_picture.url) if post.top_picture? %></li>
        <li><%= link_to 'Show', post %></li>
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
  </div>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
