<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><svg width="502" height="124" viewBox="0 0 502 124" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M74.1819 90.2298H42.9737V40.3287C42.9737 35.2469 40.9988 32.7061 37.0492 32.7061C33.1552 32.7061 31.2081 35.2469 31.2081 40.3287V90.2298H1.37444e-07V40.949C1.37444e-07 29.4265 3.5881 19.7359 10.7643 11.877C17.9404 3.95897 26.7299 2.14661e-06 37.1326 2.14661e-06C49.0374 2.14661e-06 58.5778 4.57942 65.754 13.7383C71.3726 20.8881 74.1819 30.8447 74.1819 43.608V90.2298ZM131.925 2.14661e-06C143.719 2.14661e-06 153.815 4.52031 162.216 13.561C170.672 22.5427 174.899 33.3265 174.899 45.9126C174.899 58.6762 170.616 69.5487 162.049 78.5303C153.537 87.5119 143.246 92.0021 131.174 92.0021C119.102 92.0021 108.783 87.5119 100.216 78.5303C91.6495 69.4895 87.366 58.617 87.366 45.9126C87.366 32.9719 91.6495 22.0994 100.216 13.2952C108.783 4.43169 119.353 2.14661e-06 131.925 2.14661e-06ZM131.091 32.7061C127.752 32.7061 124.916 34.006 122.579 36.6059C120.243 39.1469 119.075 42.2785 119.075 46.0013C119.075 49.6647 120.243 52.7965 122.579 55.3962C124.972 57.9968 127.808 59.2964 131.091 59.2964C134.429 59.2964 137.265 57.9968 139.602 55.3962C141.994 52.7965 143.19 49.6647 143.19 46.0013C143.19 42.2785 142.022 39.1469 139.685 36.6059C137.349 34.006 134.484 32.7061 131.091 32.7061ZM187.916 3.10216H219.125V50.6988C219.125 54.4218 219.485 57.0211 220.209 58.4985C220.932 59.9166 222.24 60.6263 224.13 60.6263C227.636 60.6263 229.388 57.3173 229.388 50.6988V3.10216H260.596V50.6988C260.596 54.4218 260.958 57.0211 261.681 58.4985C262.459 59.9166 263.794 60.6263 265.686 60.6263C269.135 60.6263 270.859 57.3173 270.859 50.6988V3.10216H302.067V57.5241C302.067 67.4511 298.925 75.9008 292.639 82.873C286.352 89.786 278.731 93.2438 269.774 93.2438C260.54 93.2438 252.252 89.1066 244.908 80.8347C236.787 89.1066 228.609 93.2438 220.376 93.2438C209.974 93.2438 201.628 89.2251 195.343 81.1889C190.392 74.8658 187.916 65.7367 187.916 53.8016V3.10216Z" transform="translate(190.443 30.7562)" fill="#E0E0E0"/>
<path d="M502 0H0V31.5144H502V0Z" transform="translate(0 62.9994)" fill="#F01919"/>
<path d="M59.8294 34.7447V120.986H25.9512V34.7447H0V-8.15559e-07H85.6971V34.7447H59.8294ZM177.653 82.1641H130.339C129.616 79.6233 129.254 77.2892 129.254 75.1619C129.254 72.2075 129.755 69.3121 130.757 66.4758H146.611C145.499 59.9169 142.022 56.6374 136.18 56.6374C132.287 56.6374 129.116 58.4101 126.669 61.9555C124.22 65.4418 122.997 69.9326 122.997 75.4279C122.997 81.1595 124.164 85.7982 126.501 89.3429C128.894 92.8889 132.009 94.6613 135.847 94.6613C138.962 94.6613 141.966 93.0074 144.859 89.6984L162.632 112.389C154.344 119.302 145.137 122.758 135.013 122.758C122.663 122.758 112.288 118.356 103.888 109.553C95.4879 100.747 91.2878 89.8459 91.2878 76.8461C91.2878 63.9055 95.5158 52.9739 103.971 44.0514C112.483 35.1288 122.914 30.6676 135.263 30.6676C147.335 30.6676 157.459 35.0401 165.637 43.7854C173.87 52.4715 177.986 63.1963 177.986 75.9596C177.986 77.2597 177.875 79.3278 177.653 82.1641Z" transform="translate(1.16821)" fill="black"/>
<path d="M38.5446 30.7564V-5.33528e-09C26.8537 -5.33528e-09 17.5067 3.87453 10.504 11.6237C3.50137 19.3129 0 29.6451 0 42.6204V91.7285H31.7263V49.9792C31.7263 30.7564 38.5446 30.7564 38.5446 30.7564Z" transform="translate(189.882 30.518)" fill="black"/>
</svg>
</a>


    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-right navbar-nav mr-auto">

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "New post", new_post_path, class: 'hvr-line' %>
        </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "Blog", posts_path, class: 'hvr-line' %>
        </li>

        <li class="nav-item">
          <%= link_to "Portfolio", projects_path, class: 'hvr-line' %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: 'hvr-line' %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: 'hvr-line' %>
        </li>
      </ul>
    </div>
  </div>
  
</nav>