<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href=<%= about_path %>><svg width="503" height="128" viewBox="0 0 503 128" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M74.1819 91.2298H75.1819V90.2298V43.608C75.1819 30.7093 72.3436 20.5054 66.5403 13.1204C59.1695 3.71391 49.3359 -0.999998 37.1326 -0.999998C26.4396 -0.999998 17.3842 3.08429 10.0246 11.2041C2.66642 19.2629 -1 29.2001 -1 40.949V90.2298V91.2298H0H31.2081H32.2081V90.2298V40.3287C32.2081 37.8874 32.6806 36.2398 33.4621 35.2199C34.205 34.2505 35.3382 33.7061 37.0492 33.7061C38.7931 33.7061 39.9482 34.2542 40.703 35.2254C41.4951 36.2444 41.9737 37.8897 41.9737 40.3287V90.2298V91.2298H42.9737H74.1819ZM99.4906 79.2182L99.4928 79.2205C108.242 88.3937 118.82 93.0021 131.174 93.0021C143.528 93.0021 154.079 88.3935 162.774 79.2182C171.523 70.0452 175.899 58.9241 175.899 45.9126C175.899 33.0785 171.579 22.0486 162.946 12.8777C154.366 3.6458 144.01 -0.999998 131.925 -0.999998C119.088 -0.999998 108.258 3.53704 99.4986 12.599C90.7402 21.6005 86.366 32.7274 86.366 45.9126C86.366 58.8672 90.7437 69.9874 99.4906 79.2182ZM123.315 37.2828L123.315 37.2829L123.323 37.2744C125.48 34.8741 128.051 33.7061 131.091 33.7061C134.19 33.7061 136.788 34.8782 138.941 37.2744L138.949 37.2828C141.102 39.6239 142.19 42.5077 142.19 46.0013C142.19 49.4241 141.081 52.3114 138.866 54.7192L138.858 54.7278C136.701 57.1286 134.131 58.2964 131.091 58.2964C128.113 58.2964 125.537 57.1328 123.319 54.7232C121.158 52.3175 120.075 49.4289 120.075 46.0013C120.075 42.5077 121.162 39.6239 123.315 37.2828ZM187.916 2.10216H186.916V3.10216V53.8016C186.916 65.856 189.414 75.239 194.556 81.8054C201.035 90.0891 209.673 94.2438 220.376 94.2438C228.711 94.2438 236.881 90.1773 244.873 82.2858C252.194 90.2057 260.5 94.2438 269.774 94.2438C279.026 94.2438 286.912 90.6569 293.378 83.5458L293.381 83.5427C299.843 76.3754 303.067 67.6829 303.067 57.5241V3.10216V2.10216H302.067H270.859H269.859V3.10216V50.6988C269.859 53.9538 269.43 56.2419 268.679 57.6824C268.311 58.388 267.881 58.8624 267.41 59.1635C266.944 59.4619 266.382 59.6263 265.686 59.6263C264.096 59.6263 263.14 59.0629 262.569 58.0376C261.962 56.7797 261.596 54.3939 261.596 50.6988V3.10216V2.10216H260.596H229.388H228.388V3.10216V50.6988C228.388 53.9525 227.952 56.2381 227.19 57.6766C226.817 58.3809 226.38 58.8566 225.898 59.1596C225.42 59.4603 224.843 59.6263 224.13 59.6263C223.308 59.6263 222.682 59.4719 222.209 59.2153C221.749 58.9655 221.381 58.5911 221.105 58.0541C220.493 56.8013 220.125 54.4113 220.125 50.6988V3.10216V2.10216H219.125H187.916Z" transform="translate(191.443 32.7562)" fill="white" stroke="black" stroke-width="2"/>
      <path d="M502 0H0V31.5144H502V0Z" transform="translate(1 64.9994)" fill="#F01919"/>
      <path d="M59.8294 121.986H60.8294V120.986V35.7447H85.6971H86.6971V34.7447V0V-1H85.6971H0H-1V0V34.7447V35.7447H0H24.9512V120.986V121.986H25.9512H59.8294ZM177.653 83.1641H178.578L178.65 82.2421C178.872 79.4031 178.986 77.3016 178.986 75.9596C178.986 62.96 174.785 51.9843 166.365 43.0996C157.996 34.1521 147.608 29.6676 135.263 29.6676C122.641 29.6676 111.948 34.2404 103.248 43.3612L103.246 43.3635C94.6039 52.4823 90.2878 63.6644 90.2878 76.8461C90.2878 90.0837 94.574 101.238 103.164 110.243L103.164 110.243C111.756 119.248 122.394 123.758 135.013 123.758C145.387 123.758 154.817 120.209 163.273 113.157L164.017 112.536L163.419 111.772L145.646 89.0818L144.902 88.1308L144.106 89.0402C141.322 92.2243 138.57 93.6613 135.847 93.6613C132.385 93.6613 129.564 92.0925 127.333 88.7882C125.138 85.4554 123.997 81.0283 123.997 75.4279C123.997 70.0787 125.187 65.8052 127.487 62.5302L127.492 62.5236C129.775 59.215 132.654 57.6374 136.18 57.6374C138.906 57.6374 140.969 58.3969 142.483 59.8245C143.815 61.0813 144.807 62.9362 145.393 65.4758H130.757H130.05L129.814 66.1428C128.775 69.0841 128.254 72.092 128.254 75.1619C128.254 77.401 128.635 79.8286 129.377 82.4377L129.584 83.1641H130.339H177.653Z" transform="translate(2.16821 2)" fill="black" stroke="black" stroke-width="2"/>
      <path d="M38.565 31.7564L39.5446 31.7564V30.7564V0V-1H38.5446C26.6091 -1 16.9793 2.96748 9.76338 10.9518C2.55513 18.8675 -1 29.461 -1 42.6204V91.7285V92.7285H0H31.7263H32.7263V91.7285V49.9792C32.7263 40.4556 34.4207 35.895 35.951 33.7378C36.708 32.6708 37.4282 32.1856 37.9045 31.9618C38.1461 31.8483 38.3353 31.7971 38.449 31.7742C38.5061 31.7627 38.5446 31.7583 38.5616 31.7567C38.5628 31.7566 38.564 31.7565 38.565 31.7564Z" transform="translate(190.882 32.518)" fill="black" stroke="black" stroke-width="2"/>
    </svg>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>


  <div class=" collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-right navbar-nav mr-auto">

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "New post", new_post_path, class: 'hvr-line' %>
      </li>
      <li class="nav-item"><%= link_to 'New project', new_project_path, class: 'hvr-line' %></li>
      <% end %>
      <li class="nav-item <%= "active" if params[:controller] == "posts" %>">
        <%= link_to "Blog", posts_path, class: 'hvr-line' %>
      </li>

      <li class="nav-item <%= "active" if params[:controller] == "projects" %>">
        <%= link_to "Portfolio", projects_path, class: 'hvr-line' %>
      </li>
      <li class="nav-item <%= "active" if params[:controller] == "static_pages" && params[:action] == "about" %>">
        <%= link_to "About", about_path, class: 'hvr-line' %>
      </li>

    </ul>
  </div>
</div>

</nav>