<!DOCTYPE html>
<html>
  <head>
    <title>Ternow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <% if user_signed_in? %>
      <p>now online as: <%= current_user.email %></p>
      <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
      <% else %>
      <p><%= link_to "Sign in",  new_user_session_path %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
